@import "tailwindcss";

@config "../tailwind.config.js";

@theme {
  --color-primary: #1F6F5F;
  --color-primary-dark: #2FA084;
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body, html, #root {
    width: 100%;
    height: 100%;
    font-family: 'Inter', sans-serif;
  }
}
