@import "tailwindcss";

@theme {
  --font-sans: "Inter", "sans-serif";
  --font-display: "Outfit", "sans-serif";
}

:root {
  font-family: var(--font-sans);
}

body {
  @apply bg-slate-950 text-slate-50 antialiased;
}
